<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fav song</title>
</head>
<body>
    <h><i>
        <br><br>
        I want to break free<br>
        I want to break free<br>
        I want to break free from your lies<br>
        You're so self-satisfied<br>
        I don't need you<br>
        I've got to break free<br>
            ...<br>
            Queen, I want to break free.
        </i></h>
</body>
</html>