<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic background</title>

    <style>
        body.Monday { background-color: lightblue; }
        body.Tuesday { background-color: yellowgreen;}
        body.Wednesday { background-color: blueviolet; }
        body.Thursday { background-color: hotpink; }
        body.Friday { background-color: darkred; }
        body.Saturday { background-color: indigo; }
        body.Sunday { background-color: lightseagreen; }
    </style>
</head>
<body class="{{ day }}">
    <h1>{{day}}</h1>
    
</body>
</html>

<!-- The body gets a dynamic CSS class based on the current day (Monday, Tuesday...), allowing the background to change for each day -->
